# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/var/test

# Logs (Symfony4)
/var/log/*
!var/log/.gitkeep

# Managed by Composer
/var/bootstrap.php.cache
/bin/*
!bin/dev
!bin/console
!bin/symfony_requirements
/vendor/
/composer.lock

# PHPUnit
/phpunit.xml
/.phpunit.result.cache

# Build data
/build/

# Composer PHAR
/composer.phar

/.php-cs-fixer.cache